entrypoint = "server.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[deployment]
run = "npm run build && node server.js"
deploymentTarget = "autoscale"
onBoot = "npm run build && node server.js"

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40875
externalPort = 3001

[[ports]]
localPort = 41055
externalPort = 80

[[ports]]
localPort = 46413
externalPort = 3000

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Production Website"

[[workflows.workflow]]
name = "Production Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[nix]
channel = "stable-25_05"
